.link {
    text-decoration: none;
    background-color: #04befe;
    width: 60vw ;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    margin: 10px; 
    /*  */
    /*  */
}
